.claude/

*.vs
*.un~
*.cs~
*.pdb
*.dll
*.zip
**/bin/
**/obj/

configs/
docs/

Plugins/AuraTracker
Plugins/LootTracker
Plugins/RitualHelper
Plugins/SekhemaHelper
Plugins/StashUtility

POE2Radar
scratch/
FarmCounter-master/
artifacts/
