.claude/

*.vs
*.un~
*.cs~
*.pdb
*.dll
**/bin/
**/obj/

configs/
docs/

Plugins/AmanamuVoidAlert
Plugins/AuraTracker
Plugins/LootTracker
Plugins/RitualHelper
Plugins/SekhemaHelper
Plugins/StashUtility

POE2Radar
